<% content_for :sitemap do %>
  <span class="current">角色</span>
<% end %>
<div class="toolbar">
  <%= link_to 'add Role',  new_admin_role_path, class: "fa fa-pencil" %>
  <form class="form-inline" action="<%= admin_role_index_path %>">
    <div class="form-group">
      <input type="text" name="q" class="form-control" value="<%= params[:q] %>" placeholder="角色名" />
    </div>
    <button class="btn btn-default">搜索</button>
  </form>
</div>

<table class="table table-bordered table-striped table-condensed">
  <tr class="head">
    <td class="first">#</td>
    <td>角色名</td>
    <td>创建时间</td>
    <td>修改时间</td>
    <td>操作</td>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td class="first"><%= role.id %></td>
    <td><%= role.name %></td>
    <td><%= role.created_at.to_date %></td>
    <td><%= role.updated_at.to_date %></td>
    <td>
      <% if role.id!=1%>
        <%= link_to 'edit',  edit_admin_role_path(role.id), class: "fa fa-pencil" %>
      <%end%>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @roles %>