
<%= simple_form_for ([:admin, @user]) do |f| %>
  <%= render partial: '/shared/error_messages', locals: { target: @user } %>
  <h2 class="form-signin-heading">edit role</h2>
  <%= f.label :email ,class:'sr-only' %>
  <%= f.input :email, autofocus: true,placeholder:true, class:'form-control' %>

  <%= f.input :role_ids, as: :check_boxes, collection: Role.all %>
  <%= f.submit "Save User" ,class:'btn btn-lg btn-primary btn-block' %>
<% end %>
